* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
}

/* General Styles */

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
}


/* Navbar */
.nav-top {
    background-color: #0084FD;
    height: 4.7rem;
}

.nav-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top ul {
    display: none;
}

.nav-top .hamburger {
    font-size: 1.5rem;
    color: white;
}





@media screen and (min-width: 811px) {
    .nav-top ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
    }
    
    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
    }
    
    .nav-top .nav-link:hover {
        background-color: aquamarine;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: .5rem
    }
    
    .nav-top .btn:hover {
        background-color: lightgrey;
    }

    .nav-top .hamburger {
        display: none;
    }

}



/* First Section */

.first-section {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.first-section .small-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #d2691e;
    flex: 1 1 calc(100% / 3 - 1rem);
}



.first-section .big-card {
    /* display: flex;
    flex-direction: column; */
    padding: 1em 5em 0 2em;
    border-radius: 20px;
    background-color: yellowgreen;
}

.big-card-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-start;
}


.big-card-content p {
    max-width: 350px;
    line-height: 150%;
}

.big-card .img-container  {
    display: flex;
    justify-content: center;


}

.big-card img {
    width: 100% ;
}



.small-card i {
    text-align: center;

    font-size: 3rem;


} 

.small-card h1 {
    text-align: center;


}

.small-card p {
    text-align: center;
    max-width: 280px;
    line-height: 150%;

}


@media screen and (min-width: 811px) {
    .first-section {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .first-section .small-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        border-radius: 20px;
        background-color: #d2691e;
        flex: 1 1 calc(100% / 3 - 1rem);
    }
    
    
    
    .first-section .big-card {
        display: flex;
        justify-content: space-between;
        padding: 1em 5em 0 2em;
        border-radius: 20px;
        background-color: yellowgreen;
        flex: 1 1 calc(200% / 3 - .5rem);
    }
    
    .big-card-content {
        width: 70%;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-self: flex-start;
    }
    
    
    .big-card-content p {
        flex: 1 1 50%;
        max-width: 350px;
        line-height: 150%;
    }
    
    .big-card .img-container  {
        width: 30%;
        align-self: flex-end;
    }
    
    .big-card img {
        display: block;
        width: 100% ;
    }
    
    .big-card .btn {
    }
    
    .small-card i {
        text-align: center;
    
        font-size: 3rem;
    
    
    } 
    
    .small-card h1 {
        text-align: center;
    
    
    }
    
    .small-card p {
        text-align: center;
        max-width: 280px;
        line-height: 150%;
    
    }
    
}







